/* *{
    margin: 0;
    padding: 0;
} */
nav{
    background-color: rgb(118, 115, 115);
}
.toptext1{
    background: #fff;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: 0.6s;
    z-index: 100;
}
.toptext{
    background: #fff;
    margin-top: 80px;
    margin-bottom: 10px;
    position: relative;
    color: #fff;
    font-size: 2em;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
.toptext ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.toptext ul li {
    position: relative;
    list-style: none;
}
.toptext ul li a{
    position: relative;
    margin: 0 2px;
    text-decoration: none;
    color: #000;
    letter-spacing: 0px;
    font-weight: 100;
    transition: 0.6s;
    font-family: 'Times New Roman', Times, serif;
}
.toptext ul li a:hover{
    color:#009688;
    transition: .6s;
}
.image1 img{
    width: 100%;
    margin-top: 8rem;
}
.row{
    display: flex;
    justify-content: center;
}
.heading{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding: 40px;
}
.row h4{
    margin: 10px 0;
}
.heading li{
    line-height: 35px;
}
.image2 img{
    width: 100%;
}
p{
    /* text-align: center; */
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 1em;
    margin-inline-end: 1em;
    font-size: 16px;
    font-family: 'Reem Kufi',sans-serif;
}