img{
    width: 100%;
}
.hppp{
    text-align: center;
}
.hppp h1{
    font-size: 50px;
}
.hppp p{
    font-size: 25px;
}
.register{
    display: flex;
    /* justify-content: center; */
}
/* .cont{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 300px;
    background: #efefef;
} */
.row{
    margin-top: 15px;
    margin-left: 180px;
    margin-bottom: 15px;
    margin-right: 15px;
    display: flex;
    /* flex-wrap: wrap; */
}
input{
    border: none;
    outline: none;
    background: none;
    /* display: block; */
    width: 18rem;
    margin-top: 15px;
    font-size: 16px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(109, 93, 93, 0.4);
    text-align: center;
}
.btn-solid{
    width: 150px;
    height: 49px;
    outline: none;
    border: none;
    border-radius: 48px;
    background-color: #009688;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: all .5s;
    margin-left: 250px;
}
.submit{
    background-color:#009688;
    font-size: 20px;
    font-family: sans-serif;
    /* padding: 16px 32px; */
    text-align: center;
    transition-duration: 0.4sec;
    cursor: pointer;
    /* box-shadow: 0 9px #999; */

}
.submit:hover{
           box-shadow: 0 12px 16px 0
           rgba(0,0,0,0.24),0 17px 50px 0
           rgba(0,0, 0, 0.19);
           background-color: beige;
           color:#009688;
           transition: .9s;
}
button{
    background-color: #009688;
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 36px;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 10px;
}
li{

    list-style: none;
}
ul i{
    color: #009688;
    position: relative;
    left: 1rem;
}
.cont{
border: 2px solid red;
background: #efefef;
}
#meri{
    position: relative;
    right: 3rem;
}
.select{
    position: relative;
    left: 1rem;
}