*{
    margin: 0;
    padding: 0; 
 }
 #banner{
     /* margin-top: 70px; */
     background:linear-gradient(rgba(0,0,0,0.5),#009688), url(images/images/4.jpg);
     background-size: cover;
     
     background-position: center;
     height: 100vh;
 }
 .banner-text{ 
     text-align: center;
     color: #fff;
     padding-top: 180px;
 }
 .banner-text h1{
     font-size: 130px;
     font-family: 'Kaushan Script', cursive;
 }
 .banner-text p{
     font-size: 20px;
     font-style: italic;
 }
 .banner-btn{
     margin: 70px auto 0;
 }
 .banner-btn a{
     width: 150px;
     text-decoration: none;
     display: inline-block;
     margin: 0 10px;
     padding: 12px 0;
     color: #fff;
     border: .5px solid #fff;
     position: relative;
     z-index: 1;
     transition: color 0.5s;
 }
 .banner-btn a span{
     width: 0%;
     height: 100%;
     position: absolute;
     top: 0;
     left: 0;
     background: #fff;
     z-index: -1;
     transition: 0.5s;
 }
 .banner-btn a:hover span{
     width: 100%;
 }
 .banner-btn a:hover{
     color: #000;
 }
 nav{
     /* background: rgb(118, 115, 115); */
     position: fixed;
     display: flex;
     align-items: center;
     justify-content: space-between;
     top: 0;
     left: 0%;
     width: 85%;
     transition: 0.6s;
     padding: 15px 100px;
     z-index: 100000;
 }
 .sticky{
     padding: 15px 100px;
     /* background: #fff; */
     background: rgb(118, 115, 115);
 }
 .navtitle{
     position: relative;
     color: #fff;
     font-size: 2em;
     text-decoration: none;
     font-weight: 700;
     text-transform: uppercase;
     letter-spacing: 2px;
     transition: 0.6s;
 }
 nav ul {
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 nav ul li {
     position: relative;
     list-style: none;
 }
 nav ul li a{
     position: relative;
     margin: 0 10px;
     text-decoration: none;
     color: #fff;
     letter-spacing: 0px;
     font-weight: 100;
     transition: 0.6s;
     font-family: sans-serif;
 }
 nav ul li a:hover{
     color:#009688;
     transition: .6s;
 }
 .sticky ul li a{
     color: #000;
 }
 .sticky .dropdown{
     background: rgb(118, 115, 115);
 }
 button{
     border: none;
     background: #009688;
     padding: 12px 30px;
     border-radius: 30px;
     color:#fff;
     font-weight: bold;
     font-size: 15px;
     transition: .4s;
 }
 button:hover{
     transform: scale(1.3);
     cursor: pointer;
 }
 span{
     color: red;
 }
 /* .dropdown li{
     display: inline;
 } */
 .dropdown{
     width: 100%;
     /* background: rgb(118, 115, 115); */
     /* background: #fff; */
     position: absolute;
     z-index: 999;
     display: none;
     padding: 10px;
     font-size: large;
     font-weight: 100;
 }
 .dropdown li{
     margin-top: 5px;
     margin-bottom: 5px;
 }
 ul li:hover ul.dropdown{
     display: block;
 }
 
 
     /* -- features -- */
 
 
 #feature{
     width: 100%;
 }
 .title-text{
     text-align: center;
     padding-top: 6rem;
     padding-bottom: 3rem;
 }
 .title-text p{
     margin: auto;
     font-size: 20px;
     color: #009688;
     font-weight: bold;
     position: relative;
     z-index: 1;
     display: inline-block;
 }
 .title-text p::after{
     content: '';
     width: 50px;
     height: 35px;
     background: linear-gradient(#019587,#fff);
     position: absolute;
     top: -20px;
     left: 0;
     z-index: -1;
     transform: rotate(10deg);
     border-top-left-radius: 35px;
     border-bottom-right-radius: 35px;
 }
 .title-text h1{
     font-size: 50px;
 
 }
 .feature-box{
     width: 80%;
     margin: auto;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     text-align: center;
 }
 .features{
     flex-basis: 50%;
 }
 .features-img{
     flex-basis: 50%;
     margin: auto;
     padding-bottom: 2rem;
 }
 .features-img img{
     width: 60%;
     border-radius: 10px;
 }
 .features h1{
     text-align: left;
     margin-bottom: 10px;
     font-weight: 100;
     color: #009688;
 }
 .features-desc{
     display: flex;
     align-items: center;
     margin-bottom: 40px;
 }
 .feature-icon i{
     width: 50px;
     height: 50px;
     font-size: 30px;
     line-height: 50px;
     border-radius: 8px;
     color: #009688;
     border: 1px solid #009688;
 }
 .feature-text p{
     padding: 0 20px;
     text-align: initial;
 }
 
 /* -- service -- */
 
 #service{
     width: 100%;
     background: #efefef;
 }
 .service-box{
     width: 80%;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     margin: auto;
 }
 .single-service{
     flex-basis: 48%;
     text-align: center;
     border-radius: 7px;
     margin-bottom: 20px;
     color: #fff;
     position: relative;
 }
 .single-service img{
     width: 100%;
     border-radius: 7px;
 }
 .overlay{
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0;
     border-radius: 7px;
     cursor: pointer;
     background: linear-gradient(rgba(0,0,0,0.5),#009688);
     opacity: 0;
     transition: 1s;
 }
 .single-service:hover .overlay{
         opacity: 1;
 }
 .sevice-desc{
     width: 80%;
     position: absolute;
     bottom: 0%;
     left: 50%;
     opacity: 0;
     transform: translateX(-50%);
     transition: 1s;
 }
 hr{
     background: #fff;
     height: 2px;
     border: 0;
     margin: 15px auto;
     width: 60%;
 }
 .sevice-desc p{
     font-size: 14px;
 }
 .single-service:hover .sevice-desc{
     bottom: 40%;
     opacity: 1;
 }
 
 /* --Testimonial -- */
 
 .testimonial-row{
     width: 80%;
     margin: auto;
     display: flex;
     justify-content: space-between;
     align-items: flex-start;
     flex-wrap: wrap;
 }
 .testimonial-col{
     flex-basis: 28%;
     padding: 10px;
     margin-bottom: 30px;
     border-radius: 5px;
     box-shadow: 0 10px 20px 3px #00968814;
     cursor: pointer;
     transition: transform .5s;
 
 }
 .testimonial-col p{
     font-size: 14px;
 }
 .user{
     display: flex;
     align-items: center;
     margin: 20px 0;
 }
 .user img{
     width: 40px;
     margin-right: 20px;
     border-radius: 3px;
 }
 .user-info i{
     margin-left: 10px;
     color: #27c0ff;
     font-size: 20px;
 }
 .user-info small{
     color: #009688;
 }
 .testimonial-col:hover{
     transform: translateY(-7px);
 }
 
 /* -- footer -- */
 
 #footer{
     background: #efefef;
     position: relative;
 }
 .footer-row{
     width: 80%;
     margin: 0 auto;
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
 }
 .footer-left,.footer-right{
     flex-basis: 45%;
     padding: 10px;
     margin-bottom: 0px;
 }
 .footer-right{
     text-align: right;
 }
 .footer-row h1{
     margin: 10px 0;
 }
 .footer-row p{
     line-height: 35px;
 }
 
 .logo{
     width: 140px;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-40%,-40%);
 }
 .social-links{
     text-align: center;
 }
 .social-links i{
     height: 40px;
     width: 40px;
     font-size: 20px;
     line-height: 40px;
     border: 1px solid #009688;
     margin: 0px 5px 0;
     color: #009688;
     cursor: pointer;
     transition: .5s;
 }
 .social-links i:hover{
     background: #009688;
     color: #fff;
     transform: translateY(-7px);
 }
 .copyright{
     font-size: 12px;
     margin-top: 20px;
     text-align: center;
     margin-bottom: 10px;
 }
 .para{
     text-align: center;
     font-size: 25px;
     color: #000;
     padding: 20px 100px;
     display: inline-block;
     align-items: center;
 }